[flake8]
max-line-length = 88

extend-ignore = BLK,T
enable = DAR104
# E203 and W503 conflict with black
# N802 conflicts with Tango naming conventions
ignore = E203,W503,N802,F811
max-complexity = 11
docstring-style = SPHINX
rst-roles=py:attr,py:class,py:const,py:exc,py:func,py:meth,py:mod
rst-directives = uml
