black==23.9.1
isort==5.12.0
pylint==2.17.6
pylint-junit==0.3.2
pytest==7.4.2
pytest-cov==2.12.1
pytest-json-report==1.5.0
docformatter==1.7.5
flake8==6.1.0
flake8-formatter-junit-xml==0.0.6
flake8-black==0.3.6
flake8-docstrings==1.7.0
flake8-rst-docstrings==0.3.0
pytango==9.4.2
