{
    "api_version": "v1",
    "devices": {
        "{{refelt_name}}/A/1": {
            "GroupDefinitions": []
        },
        "{{refelt_name}}/A/2": {
            "GroupDefinitions": []
        },
        "{{refelt_name}}/achild/11": {
            "GroupDefinitions": []
        },
        "{{refelt_name}}/achild/12": {
            "GroupDefinitions": []
        },
        "{{refelt_name}}/achild/21": {
            "GroupDefinitions": []
        },
        "{{refelt_name}}/achild/22": {
            "GroupDefinitions": []
        },
        "{{refelt_name}}/elt/master": {
            "GroupDefinitions": []
        },
        "{{refelt_name}}/elt/logger": {
            "GroupDefinitions": []
        },
        "{{refelt_name}}/central/logger": {
            "GroupDefinitions": []
        },
        "{{refelt_name}}/elt/telstate": {
            "GroupDefinitions": []
        },
        "{{refelt_name}}/elt/alarmhandler": {
            "GroupDefinitions": []
        }
    }
}
