<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Simple elements -->
	<!-- <xs:element name="domain_name" type="xs:string" minOccurs="1" maxOccurs="1"/>-->

	<!-- Attributes -->
	<!--<xs:attribute name="name" type="xs:string" use="required"/>-->
	<!--<xs:attribute name="family" type="xs:string" use="required"/>-->
	<!--<xs:attribute name="alias" type="xs:string"/>-->

	<!-- Complex elements -->
	<!--<xs:element name="device_property" type="mapSet"/>-->

	<xs:simpleType name="attrDataType">
 		<xs:restriction base="xs:token">
   		<xs:enumeration value="ENUM"/>
    	<xs:enumeration value="DOUBLE"/>
    	<xs:enumeration value="FLOAT"/>
			<xs:enumeration value="BOOL"/>
			<xs:enumeration value="SHORT"/>
			<xs:enumeration value="LONG"/>
			<xs:enumeration value="STRING"/>
			<xs:enumeration value="STATE"/>
  	</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="attrDataFormat">
 		<xs:restriction base="xs:token">
   		<xs:enumeration value="SCALAR"/>
    	<xs:enumeration value="SPECTRUM"/>
			<xs:enumeration value="IMAGE"/>
  	</xs:restriction>
	</xs:simpleType>	

	<xs:simpleType name="attrRWType">
 		<xs:restriction base="xs:token">
   		<xs:enumeration value="READ"/>
    	<xs:enumeration value="WRITE"/>
			<xs:enumeration value="READ_WRITE"/>
  	</xs:restriction>
	</xs:simpleType>		

	<xs:complexType name="PossibleValuesList">
		<xs:sequence>
			<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PollingPeriod">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="10"/>
    </xs:restriction>
  </xs:simpleType>

	

	<xs:complexType name="Polling">
		<xs:sequence>
			<xs:element name="Period" type="PollingPeriod" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ValueRange">
		<xs:all>
			<xs:element name="MinValue" type="xs:anyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaxValue" type="xs:anyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MinWarning" type="xs:anyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaxWarning" type="xs:anyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MinAlarm" type="xs:anyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaxAlarm" type="xs:anyType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="Event">
		<xs:sequence>
			<xs:element name="Period" type="PollingPeriod" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ChangeEvent">
		<xs:sequence>
			<xs:element name="ChangeValue" type="xs:double" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="Events">
		<!--
		<xs:choice>
  		<xs:sequence>
    		<xs:element name="PushEvent" />
    		<xs:element name="PeriodicEvent" type="Event" minOccurs="0" />
    		<xs:element name="ArchiveEvent" type="Event" minOccurs="0" />
  		</xs:sequence>
  		<xs:sequence>
    		<xs:element name="PeriodicEvent" type="Event" />
    		<xs:element name="ArchiveEvent" type="Event" minOccurs="0" />
  		</xs:sequence>
  		<xs:element name="ArchiveEvent" type="Event"/>
		</xs:choice>
		-->
		<xs:choice minOccurs="1" maxOccurs ="unbounded">
			<xs:element name="PushEvent" maxOccurs="1" />
    	<xs:element name="PeriodicEvent" type="Event" maxOccurs="1" />
    	<xs:element name="ArchiveEvent" type="Event" maxOccurs="1" />
			<xs:element name="RelChangeEvent" type="ChangeEvent" maxOccurs="1" />
			<xs:element name="AbsChangeEvent" type="ChangeEvent" maxOccurs="1" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="GausRandomModel">
		<xs:sequence>
			<xs:element name="GausMean" type="xs:anyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="GausSigma" type="xs:anyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Min" type="xs:anyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Max" type="xs:anyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UniformRandomModel">
		<xs:sequence>
			<xs:element name="Min" type="xs:anyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Max" type="xs:anyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProbWeights">
		<xs:sequence>
			<xs:element name="Weight" type="xs:anyType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DiscreteRandomModel">
		<xs:sequence>
			<xs:element name="ProbWeights" type="ProbWeights" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Randomize">
		<xs:choice>
  		<xs:sequence>
    		<xs:element name="GausRandomModel" type="GausRandomModel"/>
    		<xs:element name="UniformRandomModel" type="UniformRandomModel" minOccurs="0" />
    		<xs:element name="DiscreteRandomModel" type="DiscreteRandomModel" minOccurs="0" />
  		</xs:sequence>
  		<xs:sequence>
    		<xs:element name="UniformRandomModel" type="UniformRandomModel" />
    		<xs:element name="DiscreteRandomModel" type="DiscreteRandomModel" minOccurs="0" />
  		</xs:sequence>
  		<xs:element name="DiscreteRandomModel" type="DiscreteRandomModel"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="attrValue">
		<xs:all>
			<xs:element name="InitValue" type="xs:anyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SafeValue" type="xs:anyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Randomize" type="Randomize" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>

	<xs:simpleType name="Dim">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
			<xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>

	<xs:complexType name="formulaEvaluationMode">
		<xs:sequence>
			<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="formulaVar">
		<xs:all>
			<xs:element name="Label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InitDataValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ExpDataType" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ExpDataFormat" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ExpDataSize" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="formulaVars">
		<xs:sequence>
			<xs:element name="FormulaVar" type="formulaVar" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="attrFormula">
		<xs:all>
			<xs:element name="Expression" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FormulaVars" type="formulaVars" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EvaluationMode" type="formulaEvaluationMode" minOccurs="1" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="DeviceAttribute">
		<xs:all>
			<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1"/>
  		<xs:element name="DataType" type="attrDataType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DataFormat" type="attrDataFormat" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RWType" type="attrRWType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Unit" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Memorized" type="xs:token" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DimX" type="Dim" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DimY" type="Dim" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PossibleValues" type="PossibleValuesList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ValueRange" type="ValueRange" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Polling" type="Polling" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Events" type="Events" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Value" type="attrValue" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AttrFormula" type="attrFormula" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Formula" type="attrFormula" minOccurs="0" maxOccurs="1"/>
		</xs:all>
  	<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="alias" type="xs:string" />
	</xs:complexType>

  <xs:complexType name="FwdDeviceAttribute">
		<xs:all>
			<xs:element name="Label" type="xs:token" minOccurs="0" maxOccurs="1"/>
  		<xs:element name="Url" type="xs:token" minOccurs="1" maxOccurs="1"/>
		</xs:all>
  	<xs:attribute name="name" type="xs:token" use="required" />
		<xs:attribute name="alias" type="xs:token" />
	</xs:complexType>
 

	<xs:complexType name="DeviceAttributeList">
		<xs:choice>
  		<xs:sequence>
    		<xs:element name="Attribute" type="DeviceAttribute" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="FwdAttribute" type="FwdDeviceAttribute" minOccurs="0" maxOccurs="unbounded"/>
  		</xs:sequence>
			<xs:sequence>
  			<xs:element name="FwdAttribute" type="FwdDeviceAttribute" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>


	<xs:complexType name="AlarmFormulaVar">
		<xs:all>
			<xs:element name="Label" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="AlarmFormulaList">
		<xs:sequence>
  		<xs:element name="FormulaVar" type="AlarmFormulaVar" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AlarmGroupList">
		<xs:sequence>
  		<xs:element name="Group" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="AlarmLevelType">
 		<xs:restriction base="xs:token">
   		<xs:enumeration value="log"/>
    	<xs:enumeration value="warn"/>
			<xs:enumeration value="fault"/>
  	</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="AlarmData">
		<xs:all>
			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
  		<xs:element name="Formula" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FormulaVars" type="AlarmFormulaList" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Level" type="AlarmLevelType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Groups" type="AlarmGroupList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Message" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OnDelay" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OffDelay" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SilentTime" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OnCommand" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OffCommand" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Enabled" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
 

	<xs:complexType name="AlarmList">
  	<xs:sequence>
    	<xs:element name="Alarm" type="AlarmData" minOccurs="1" maxOccurs="unbounded"/>
  	</xs:sequence>
	</xs:complexType>

	<xs:complexType name="mapSet">
		<xs:sequence>
  		<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
  	<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="DevicePropertyList">
		<xs:sequence>
  		<xs:element name="DeviceProperty" type="mapSet" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  
	
	<xs:complexType name="DeviceConfiguration">
		<xs:all>
  		<xs:element name="DeviceProperties" type="DevicePropertyList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Attributes" type="DeviceAttributeList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Alarms" type="AlarmList" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="Device">
		<xs:sequence>
  		<xs:element name="DeviceConfiguration" type="DeviceConfiguration" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="domain" type="xs:string"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="family" type="xs:string" use="required"/>
		<xs:attribute name="alias" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="Class">
		<xs:sequence>
  		<xs:element name="device" type="Device" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:simpleType name="StartupLevel">
    <xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
      <xs:maxInclusive value="5"/>
    </xs:restriction>
  </xs:simpleType>

	<xs:complexType name="Server">
		<xs:sequence>
  		<xs:element name="class" type="Class" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="instance" type="xs:string" use="required"/>
		<xs:attribute name="startup_level" type="StartupLevel"/>
		<xs:attribute name="astor_controlled" type="xs:boolean"/>
	</xs:complexType>

	<xs:complexType name="ServerList">
		<xs:sequence>
			<xs:element name="server" type="Server" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<!-- XML structure -->
	<xs:element name="ControlSystem">
		<xs:complexType>	
			<xs:sequence>
      	<xs:element name="domain_name" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="host_name" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="device_servers" type="ServerList" minOccurs="1" maxOccurs="1"/>
   	 	</xs:sequence>	
		</xs:complexType>
	</xs:element>

	
</xs:schema>
