{
    "api_version": "v1",
    "global": {
        "CentralLoggingTarget": "central/logger/1",
        "ElementLoggingTarget": "{{ my_id }}/elt/logger",
        "StorageLoggingTarget": "/dev/log",
        "CentralLoggingLevelDefault": 2,
        "ElementLoggingLevelDefault": 3,
        "StorageLoggingLevelDefault": 3
    },
    "devices": {
        "{{ my_id }}/a/1": {
            "GroupDefinitions":
            [
                {"group_name": "children",
                    "devices": ["{{ my_id }}/achild/11", "{{ my_id }}/achild/12"]}
	            ]
        },
        "{{ my_id }}/a/2": {
            "GroupDefinitions":
            [
                {"group_name": "children",
                    "devices": ["{{ my_id }}/achild/21", "{{ my_id }}/achild/22"]}
            ]
        },
        "{{ my_id }}/elt/master": {
            "NrSubarrays": 4,
            "CapabilityTypes": ["calca", "calcb", "procc", "procd"],
            "GroupDefinitions":
            [
                {"group_name": "subarrays",
                    "devices": ["{{ my_id }}/subarray/1", "{{ my_id }}/subarray/2",
                                "{{ my_id }}/subarray/3", "{{ my_id }}/subarray/4"]},
                {"group_name": "servers",
                    "devices": ["{{ my_id }}/server/1", "{{ my_id }}/server/2",
                                "{{ my_id }}/server/3", "{{ my_id }}/server/4"]},
                {"group_name": "switches",
                    "devices": ["{{ my_id }}/switch/a", "{{ my_id }}/switch/b"]},
                {"group_name": "pdus",
                    "devices": ["{{ my_id }}/pdu/a", "{{ my_id }}/pdu/b"]},
                {"group_name": "racks",
                    "devices": ["{{ my_id }}/rack/a", "{{ my_id }}/rack/b"],
                    "subgroups": [
                        {"group_name": "rackA",
                            "devices": ["{{ my_id }}/server/1", "{{ my_id }}/server/2",
                                        "{{ my_id }}/switch/a", "{{ my_id }}/pdu/a"]},
                        {"group_name": "rackB",
                            "devices": ["{{ my_id }}/server/3", "{{ my_id }}/server/4",
                                        "{{ my_id }}/switch/b", "{{ my_id }}/pdu/b"]}
                        ]
                }
            ]
        },
        "{{ my_id }}/subarray/1": {
            "GroupDefinitions":
            [
                {"group_name": "capabilities",
                    "devices": ["{{ my_id }}/cap/sub1calca", "{{ my_id }}/cap/sub1calcb",
                                "{{ my_id }}/cap/sub1procc", "{{ my_id }}/cap/sub1procd"]}
            ]
        },
        "{{ my_id }}/subarray/2": {
            "GroupDefinitions":
            [
                {"group_name": "capabilities",
                    "devices": ["{{ my_id }}/cap/sub2calca", "{{ my_id }}/cap/sub2calcb",
                                "{{ my_id }}/cap/sub2procc", "{{ my_id }}/cap/sub2procd"]}
            ]
        },
        "{{ my_id }}/subarray/3": {
            "GroupDefinitions":
            [
                {"group_name": "capabilities",
                    "devices": ["{{ my_id }}/cap/sub3calca", "{{ my_id }}/cap/sub3calcb",
                                "{{ my_id }}/cap/sub3procc", "{{ my_id }}/cap/sub3procd"]}
            ]
        },
        "{{ my_id }}/subarray/4": {
            "GroupDefinitions":
            [
                {"group_name": "capabilities",
                    "devices": ["{{ my_id }}/cap/sub4calca", "{{ my_id }}/cap/sub4calcb",
                                "{{ my_id }}/cap/sub4procc", "{{ my_id }}/cap/sub4procd"]}
            ]
        },
        "{{ my_id }}/elt/logger": {
            "Config": []
        },
        "{{ my_id }}/elt/telstate": {
            "TelStateConfigFile": []
        },
        "{{ my_id }}/elt/alarmhandler": {
            "Config": []
        },
        "sim_control/pdu/A": {
            "model_key": "{{ my_id }}/pdu/a"
        },
        "sim_control/pdu/B": {
            "model_key": "{{ my_id }}/pdu/b"
        },
        "sim_control/server/1": {
            "model_key": "{{ my_id }}/server/1"
        },
        "sim_control/server/2": {
            "model_key": "{{ my_id }}/server/2"
        },
        "sim_control/server/3": {
            "model_key": "{{ my_id }}/server/3"
        },
        "sim_control/server/4": {
            "model_key": "{{ my_id }}/server/4"
        },
        "sim_control/rack/A": {
            "model_key": "{{ my_id }}/rack/a"
        },
        "sim_control/rack/B": {
            "model_key": "{{ my_id }}/rack/b"
        },
        "sim_control/switch/A": {
            "model_key": "{{ my_id }}/switch/a"
        },
        "sim_control/switch/B": {
            "model_key": "{{ my_id }}/switch/b"
        },
        "central/logger/1": {
            "Config": []
        }
    },
    "classes": {
        "PDU": {
            "SubscribeRetryPeriod": "60",
            "PollingThreadPeriod": "3",
            "StatisticsTimeWindow": ""
        },
        "Server": {
            "SubscribeRetryPeriod": "60",
            "PollingThreadPeriod": "3"
        }
    }
}
