##############################################
##     ELT DEPENDENCIES DEFAULT VARS
##############################################
#YAT_ROOT={{yat_root}}
#YAT4TANGO_ROOT={{yat4tango_root}}
#BOOST_ROOT={{boost_root}}
JSONCPP_ROOT={{jsoncpp_root}}
PUGIXML_ROOT={{pugixml_root}}
PUGIXML_LIB_ROOT={{pugixml_lib_root}}
#LOG4CXX_ROOT={{log4cxx_root}}

##############################################
##     LMC DEFAULT VARS
##############################################
ELT_DIR=/home/kat/svn/levpro/ansible
ELT_CONFIG=/home/kat/svn/levpro/ansible/config
ELT_STARTER_INSTANCE=1
ELT_STARTER_VERBOSITY=1
