##############################################
##     TANGO DEFAULT VARS
##############################################
TANGO_ROOT={{tango_root}}
OMNI_ROOT={{omniorb_root}}
ZMQ_ROOT={{zmq_root}}
PYTANGO_ROOT={{pytango_path}}

MYSQL_PASSWORD={{mysql_pass}}
MYSQL_HOST={{mysql_host}}
MYSQL_USER={{mysql_user}}
