#! /bin/sh
### BEGIN INIT INFO
# Provides:          tango-db
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Should-Start:      mysql
# Should-Stop:       mysql
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start the tango control system database daemon
# Description:       Provide the database connection for programmes based on
#                    the tango control system.
# X-Start-Before:    tango-accesscontrol
# X-Stop-After:      tango-accesscontrol
### END INIT INFO

# Author: Picca Frédéric-Emmanuel <picca@synchrotron-soleil.fr>

DESC="Tango Control System - database"
NAME=tango-db
NAME_REAL=DataBaseds
CONFFILE=/etc/tangorc
#PORT=`grep TANGO_HOST $CONFFILE | awk -F ":" '{print $2}'`
#HOST=`grep TANGO_HOST $CONFFILE | awk -F ":" '{print $1}' | awk -F "=" '{print $2}'`
#CANON_HOST=`grep TANGO_HOST $CONFFILE | awk -F ":" '{print $1}' | awk -F "=" '{print $2}' | awk -F "." '{print $1}'`
PORT=`grep "^ *TANGO_HOST" $CONFFILE | awk -F ":" '{print $2}'`
HOST=`grep "^ *TANGO_HOST" $CONFFILE | awk -F ":" '{print $1}' | awk -F "=" '{print $2}'`
CANON_HOST=`grep "^ *TANGO_HOST" $CONFFILE | awk -F ":" '{print $1}' | awk -F "=" '{print $2}' | awk -F "." '{print $1}'`
DAEMON_USER=root
DAEMON_GROUP=root

# Read configuration variable file if it is present
[ -r /etc/default/$NAME ] && . /etc/default/$NAME

# Check needed variable: 
# - Tango vars: TANGO_ROOT, OMNI_ROOT, ZMQ_ROOT
# - MySQL user/pass/host
if [ -z "$TANGO_ROOT" ] ;  then
  echo "TANGO_ROOT variable is not set, please set it in /etc/default/$NAME" >&2
  exit 1
fi
if [ -z "$OMNI_ROOT" ] ;  then
  echo "OMNI_ROOT variable is not set, please set it in /etc/default/$NAME" >&2
  exit 1
fi
if [ -z "$ZMQ_ROOT" ] ;  then
  echo "ZMQ_ROOT variable is not set, please set it in /etc/default/$NAME" >&2
  exit 1
fi
if [ -z "$MYSQL_PASSWORD" ] ;  then
  echo "MYSQL_PASSWORD variable is not set, please set it in /etc/default/$NAME" >&2
  exit 1
fi

DAEMON=$TANGO_ROOT/bin/$NAME_REAL
PIDFILE=/var/run/$NAME.pid

export PATH=$PATH:$TANGO_ROOT/bin:$TANGO_ROOT/lib:/sbin:/usr/sbin:/bin:/usr/bin
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$TANGO_ROOT/lib:$OMNI_ROOT/lib:$ZMQ_ROOT/lib/
export MYSQL_PASSWORD=$MYSQL_PASSWORD
export MYSQL_HOST=$MYSQL_HOST
export MYSQL_USER=$MYSQL_USER

# Exit if the package is not installed
[ -x "$DAEMON" ] || exit 0


# Load the VERBOSE setting and other rcS variables
. /lib/init/vars.sh
# Define LSB log_* functions.
# Depend on lsb-base (>= 3.0-6) to ensure that this file is present.
. /lib/lsb/init-functions

#
# Function that starts the daemon/service
#
do_start()
{
	# Return
	#   0 if daemon has been started
	#   1 if daemon was already running
	#   2 if daemon could not be started

	# to start this daemon need a working network
	if [ $CANON_HOST = "localhost" ]
	then
		DAEMON_ARGS="2 -ORBendPoint giop:tcp:$HOST:$PORT"
	else
		DAEMON_ARGS="2 -ORBendPoint giop:tcp::$PORT"
		tango_admin --ping-network 40 || return 2
	fi

	echo "PIDFILE=$PIDFILE, CANON_HOST: $CANON_HOST, DAEMON: $DAEMON, DAEMON_ARGS: $DAEMON_ARGS"
	echo "LD_LIBRARY_PATH: $LD_LIBRARY_PATH"
	
	start-stop-daemon --start --quiet --chuid $DAEMON_USER:$DAEMON_GROUP --background \
	    --make-pidfile --pidfile $PIDFILE --exec $DAEMON --test > /dev/null \
	    || return 1

	echo "Starting TangoDB..."
	##start-stop-daemon --start  --chuid $DAEMON_USER:$DAEMON_GROUP --make-pidfile --pidfile $PIDFILE --exec $DAEMON -- $DAEMON_ARGS 
	start-stop-daemon --start --quiet --chuid $DAEMON_USER:$DAEMON_GROUP --background \
	    --make-pidfile --pidfile $PIDFILE --exec $DAEMON -- $DAEMON_ARGS \
	    || return 2
	
	# Add code here, if necessary, that waits for the process to be ready
	# to handle requests from services started subsequently which depend
	# on this one.  As a last resort, sleep for some time.
	tango_admin --ping-database 6 || return 2
}

#
# Function that stops the daemon/service
#
do_stop()
{
	# Return
	#   0 if daemon has been stopped
	#   1 if daemon was already stopped
	#   2 if daemon could not be stopped
	#   other if a failure occurred
	start-stop-daemon --stop --quiet --retry=TERM/30/KILL/5 --pidfile $PIDFILE --name $NAME_REAL
	RETVAL="$?"
	[ "$RETVAL" = 2 ] && return 2
	# Wait for children to finish too if this is a daemon that forks
	# and if the daemon is only ever run from this initscript.
	# If the above conditions are not satisfied then add some other code
	# that waits for the process to drop all resources that could be
	# needed by services started subsequently.  A last resort is to
	# sleep for some time.
	sleep 3
	start-stop-daemon --stop --quiet --oknodo --retry=0/30/KILL/5 --exec $DAEMON
	[ "$?" = 2 ] && return 2
	# Many daemons don't delete their pidfiles when they exit.
	rm -f $PIDFILE
	return "$RETVAL"
}

#
# Function that sends a SIGHUP to the daemon/service
#
do_reload() {
	#
	# If the daemon can reload its configuration without
	# restarting (for example, when it is sent a SIGHUP),
	# then implement that here.
	#
	start-stop-daemon --stop --signal 1 --quiet --pidfile $PIDFILE --name $NAME
	return 0
}

case "$1" in
  start)
	[ "$VERBOSE" != no ] && log_daemon_msg "Starting $DESC" "$NAME"
	do_start
	echo "status= $?"
	case "$?" in
		0|1) [ "$VERBOSE" != no ] && log_end_msg 0 ;;
		2) [ "$VERBOSE" != no ] && log_end_msg 1 ;;
	esac
	;;
  stop)
	[ "$VERBOSE" != no ] && log_daemon_msg "Stopping $DESC" "$NAME"
	do_stop
	case "$?" in
		0|1) [ "$VERBOSE" != no ] && log_end_msg 0 ;;
		2) [ "$VERBOSE" != no ] && log_end_msg 1 ;;
	esac
	;;
  status)
       status_of_proc "$DAEMON" "$NAME" && exit 0 || exit $?
       ;;
  #reload|force-reload)
	#
	# If do_reload() is not implemented then leave this commented out
	# and leave 'force-reload' as an alias for 'restart'.
	#
	#log_daemon_msg "Reloading $DESC" "$NAME"
	#do_reload
	#log_end_msg $?
	#;;
  restart|force-reload)
	#
	# If the "reload" option is implemented then remove the
	# 'force-reload' alias
	#
	log_daemon_msg "Restarting $DESC" "$NAME"
	do_stop
	case "$?" in
	  0|1)
		do_start
		case "$?" in
			0) log_end_msg 0 ;;
			1) log_end_msg 1 ;; # Old process is still running
			*) log_end_msg 1 ;; # Failed to start
		esac
		;;
	  *)
	  	# Failed to stop
		log_end_msg 1
		;;
	esac
	;;
  *)
	#echo "Usage: $SCRIPTNAME {start|stop|restart|reload|force-reload}" >&2
	echo "Usage: $SCRIPTNAME {start|stop|status|restart|force-reload}" >&2
	exit 3
	;;
esac

:
